[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/lodepng"]
	path = ext/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
